/.vscode
/.git
/.github
/readme.md
/license.md
/node_modules
/.mypy_cache
*.egg-info
*__pycache__
*build
/data
*.mp4
*.coverage
*pytest_coverage
*.pytest_cache
*dist
*.whl
*coverage.xml
/coverage
/logs
/lint
/.idea
*.db