pylint~=2.12.2
pycodestyle~=2.7.0
autopep8~=1.5.7
pytest~=6.2.5
pytest-cov~=3.0.0
twine~=3.7.1
python-dotenv~=0.19.2
mypy~=0.910
mypy-extensions~=0.4.3
types-croniter==1.0.4
types-PyYAML==6.0.1
types-requests==2.26.3
wheel~=0.37.0